---
- hosts: localhost

  tasks:

    - ansible.builtin.apt:
        pkg:
          - ffmpeg
          - imagemagick

    - ansible.builtin.file:
        path: /root/.local/bin
        state: directory
        mode: '0755'