---
- hosts: localhost

  tasks:

    - ansible.builtin.apt:
        pkg:
          - python3-venv

    - ansible.builtin.get_url:
        url: "https://awscli.amazonaws.com/awscli-exe-linux-{{ ansible_architecture }}.zip"
        dest: /tmp/awscliv2.zip

    - ansible.builtin.unarchive:
        src: /tmp/awscliv2.zip
        dest: /tmp
        remote_src: true

    - ansible.builtin.command: /tmp/aws/install --update
