---
name: Publish Docker Kon-Tiki
'on':
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          set-safe-directory: ${{ github.workspace }}
          ref: 4.0.0
      - uses: ./.github/actions/publish-docker-kon-tiki-action
        env:
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
