---
name: Publish Docker Kon-Tiki Private
'on':
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          set-safe-directory: ${{ github.workspace }}
          ref: main
      - uses: ./.github/actions/publish-docker-kon-tiki-private-action
        env:
          GITHUB_TOKEN: ${{ secrets.KON_TIKI_GITHUB_TOKEN_CLASSIC }}
